@import 'header/index'; // Header
@import 'body/userTable/index'; // UserTable
@import 'body/userProfile/index'; // userProfile
@import 'modal/index'; // Modal
@import 'additional/tooltip/index'; // tooltip
@import 'additional/notify/index'; // notify

#app {
    display: table;
    margin: 50px auto;
    min-width: 1090px;

    &.tablet {
        min-width: inherit;
        width: 100%;
    }

    &.phone {
        min-width: inherit;
        width: 100%;
    }
}