@import 'header/index'; // Header
@import 'body/userTable/index'; // UserTable
@import 'body/userProfile/index'; // userProfile
@import 'modal/index'; // Modal
@import 'additional/tooltip/index'; // tooltip
@import 'additional/notify/index'; // notify

#app {
    display: table;
    margin: 0 auto;
    min-width: 1090px;

    &.tablet {
        min-width: inherit;
        width: 100%;

        .header {
            overflow: inherit;
            position: fixed;
            top: 0;
            z-index: 2;
            width: 100%;
            padding: 10px 0;
        }

        .userList {
            table {
                &.lazyLoad {
                    tbody {
                        height: 92vh;
                        padding: 50px 0 0 0;
                    }
                }
            }

            .option {
                position: fixed;
                bottom: 0;
                z-index: 1;
                width: 100%;
            }
        }

        .modal {
            .modal-window {
                width: 100%;
                justify-content: center;

                .group {
                    input {

                    }
                }
            }
        }
    }

    &.phone {
        min-width: inherit;
        width: 100%;

        .header {
            overflow: inherit;
            position: fixed;
            top: 0;
            z-index: 2;
            width: 100%;
            padding: 10px 0;
        }

        .userList {
            table {
                &.lazyLoad {
                    tbody {
                        height: 85vh;
                        padding: 50px 0 0 0;
                    }
                }
            }

            .option {
                position: fixed;
                bottom: 0;
                z-index: 1;
                width: 100%;
            }
        }

        .modal {
            .modal-window {
                width: 100%;
                justify-content: center;

                .group {
                    input {

                    }
                }
            }
        }
    }
}